.positionLayer {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	>div {
		position: absolute;
		left: 50%;
        width: 0;
        height: 0;
		z-index: 100;
	}
}