/* 与 anim.ts 同步 */

// 动画参数 (正常)
@animationFunction: cubic-bezier(0.6, 0, 0.1, 1);
@animationDuration: 350ms;
// 动画参数 (放大查看时)
@animationFunctionOnZooming: cubic-bezier(0, 0.1, 0.1, 1);
@animationDurationOnZooming: 0ms;

