@import "../../config/anim.less";

// 控制容器
.controls {
	box-sizing: border-box;
	position: absolute;
	padding: 20px;
	top: 0;
	right: 0;
	z-index: 90;
	display: flex;
}

// 放大按钮
.zoomButton {
    box-sizing: border-box;
	margin: 7px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: 1px solid black;
}
.zoomButton:hover {
    transform: scale(1.1);
}
.zoomButton:active {
    transform: scale(1);
}

// 关闭按钮
.closeButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: scale(1);

    .crossLine {
        position: absolute;
        top: 50%;
        left: 3px;
        width: 35px;
        height: 1px;
        background-color: black;
        transform-origin: 50%;
    }
}
.closeButton:hover {
    transform: scale(1.1);
}
.closeButton:active {
    transform: scale(1);
}

// 页数指示
.pages {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 110;
    transform: translateX(-50%);

    .blackDot {
        cursor: pointer;
        margin: 10px 4px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: black;
    }
    .whiteDot {
        cursor: pointer;
        margin: 10px 4px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #999;
    }
}