// Libs
@import "../../config/anim.less";
// Vars
@baseDelay: 0.06s;

// 基础按钮
.baseButton {
    z-index: 1000;
    box-sizing: border-box;
    cursor: pointer;

    >svg {
        display: block;
        width: 2em;
        height: 2em;
    }
}

// 控制容器
.controls {
	box-sizing: border-box;
	position: absolute;
	top: 0.6em;
	right: 0.6em;
    opacity: 0;
	display: flex;
    z-index: 1000;
    border-radius: 5em;
    transform: translateX(100%);
    transition: transform .3s @animationFunction, opacity 0.3s;

    &.show {
        opacity: 0.8;
        transform: translateX(0);
    }

    .pinButton {
        .baseButton;

        margin: 0.4em 0.1em;
        width: 2em;
        height: 2em;
        transition: transform .15s @animationFunction, opacity .3s @animationFunction;

        &:hover {
            opacity: 0.8 !important;
            transform: scale(1.1) !important;
        }
        &:active {
            opacity: 1.0 !important;
            transform: scale(1.0) !important;
        }

        &:first-of-type {
            margin-left: 0.4em;
        }
        &:last-of-type {
            margin-right: 0.4em;
        }
    }

    // 旋转
    .rotateLeft {
        .pinButton;

        >svg {
            transform: scaleX(-1);
        }
    }
    .rotateRight {
        .pinButton;

        >svg {
            transform: scaleX(1);
        }
    }

    // 放大
    .zoomButton {
        .pinButton;
    }

    // 关闭
    .closeButton {
        .pinButton;
    }
}

// 翻页控制
.sideButton {
    .baseButton;

    opacity: 0;
    position: absolute;
    top: 50%;
    padding: 0.4em;
    transition: transform .15s @animationFunction, opacity .3s @animationFunction;

    &:hover {
        opacity: 0.8 !important;
        transform: translateX(0) !important;
    }
    &:active {
        opacity: 1.0 !important;
    }

    &.show {
        opacity: 0.8;
    }
}
.flipLeft {
    .sideButton;

    left: 0;
    padding-left: 0.6em;
    border-radius: 0 0.5em 0.5em 0;
    transform: translateX(-100%);

    &:active {
        transform: translate(-0.2em) !important;
    }

    &.show {
        opacity: 0.8;
        transform: translate(-0.2em);
    }
}
.flipRight {
    .sideButton;

    right: 0;
    padding-right: 0.6em;
    border-radius: 0.5em 0 0 0.5em;
    transform: translateX(100%);

    &:active {
        transform: translate(0.2em) !important;
    }

    &.show {
        opacity: 0.8;
        transform: translate(0.2em);
    }
}

// 页数指示
.pages {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0.4em;
    z-index: 110;
    opacity: 0;
    border-radius: 2em;
    transform: translate(-50%, 100px);
    transition: transform .3s @animationFunction, opacity .3s @animationFunction;

    &.show {
        opacity: 0.8;
        transform: translate(-50%, 0);
    }

    .dot {
        cursor: pointer;
        margin: 0.7em 0.4em;;
        display: block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 0.7em;
        background: black;
        transition: transform .2s @animationFunction, opacity .3s @animationFunction;

        &:first-of-type {
            margin-left: 0.7em;
        }
        &:last-of-type {
            margin-right: 0.7em;
        }

        &:hover {
            opacity: 0.8 !important;
            transform: scale(1.1) !important;
        }
        &:active {
            opacity: 1.0 !important;
            transform: scale(1.0) !important;
        }
    }
    .blackDot {
        .dot;
        background: black;
    }
    .whiteDot {
        .dot;
        background: #999;
    }
}