// Libs
@import "../../config/anim.less";
// Vars
@baseDelay: 0.06s;

// 控制容器
.controls {
	box-sizing: border-box;
	position: absolute;
	top: 0.6em;
	right: 0.6em;
    opacity: 0;
	display: flex;
    z-index: 1000;
    border-radius: 5em;
    transform: translateX(100%);
    transition: transform .3s @animationFunction, opacity 0.3s;

    &.show {
        opacity: 0.8;
        transform: translateX(0);
    }

    // 基础按钮
    .baseButton {
        box-sizing: border-box;
        margin: 0.4em 0.1em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        transition: transform .2s @animationFunction, opacity .3s @animationFunction;

        &:hover {
            opacity: 0.8 !important;
            transform: scale(1.1) !important;
        }
        &:active {
            opacity: 1.0 !important;
            transform: scale(1.0) !important;
        }

        &:first-of-type {
            margin-left: 0.4em;
        }
        &:last-of-type {
            margin-right: 0.4em;
        }

        &.show {

        }

        >svg {
            width: 2em;
            height: 2em;
        }
    }

    // 旋转
    .rotateLeft {
        .baseButton;

        >svg {
            transform: scaleX(-1);
        }
    }
    .rotateRight {
        .baseButton;

        >svg {
            transform: scaleX(1);
        }
    }

    // 放大
    .zoomButton {
        .baseButton;
    }

    // 关闭
    .closeButton {
        .baseButton;
    }
}

// 页数指示
.pages {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0.4em;
    z-index: 110;
    opacity: 0;
    border-radius: 2em;
    transform: translate(-50%, 100px);
    transition: transform .3s @animationFunction, opacity .3s @animationFunction;

    &.show {
        opacity: 0.8;
        transform: translate(-50%, 0);
    }

    .dot {
        cursor: pointer;
        margin: 0.7em 0.4em;;
        display: block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 0.7em;
        background: black;
        transition: transform .2s @animationFunction, opacity .3s @animationFunction;

        &:first-of-type {
            margin-left: 0.7em;
        }
        &:last-of-type {
            margin-right: 0.7em;
        }
        &:hover {
            opacity: 1.0 !important;
            transform: scale(1.0) !important;
        }
    }
    .blackDot {
        .dot;
        background: black;
    }
    .whiteDot {
        .dot;
        background: #999;
    }
}
