* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    line-height: 1.4em;
    font-size: 4.5em;
    font-weight: normal;
    margin: -0.5em 0 0.4em;
    color: rgba(0, 0, 0, 0.9);
}
h2 {
    margin: 0 0 30px;
    font-size: 2.2em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}
h3 {
    font-size: 1em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}
a {
    text-align: center;
    font-size: 0.78em;
    color: black;
    display: inline-block;
    margin: 14px 4px;
}
span {
    font-size: 0.78em;
}
p {
    font-size: 1.05em;
    color: #717682;
}
pre {
    margin: 30px 0;
    padding: 0.8em 1em;
    border-left: 4px solid #999;
    color: #717682;
    background-color: rgba(228, 228, 228, 0.23);
}

.image {
    width: 100%;
    border-radius: 5px;
	transition: transform .3s;
    box-shadow: 0 10px 35px 0 rgba(0,0,0,0.3), 0 5px 25px 0 rgba(0,0,0,0.1);
}
.image:hover {
	transform: scale(1.05);
}
.image:active {
	transform: scale(1.00);
}
.tag {
    cursor: pointer;
    display: inline-block;
    padding: 6px 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    line-height: 1;
    margin: 4px;
    vertical-align: baseline;
    background-color: #1b1c1e;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.button {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.3em;
    padding: 12px 20px;
    text-decoration: none;
	margin: 25px 10px;
    transition: all .1s;
}
.button:hover {
    color: white;
    background-color: black;
}
.button:active {
    color: white;
    background-color: black;
}

.github {
    transition: all .1s;

    svg {
        width: 24px;
        height: 24px;
        fill: #999;
    }
}
.github:hover {
    svg {
        fill: #666;
    }
}
.github:active {
    svg {
        fill: #333;
    }
}


.pageContainer {
    box-sizing: border-box;

    //全屏居中布局
    .page {
        position: relative;
        height: 100vh;
        display: flex;

        >div {
            margin: auto;
        }

        .github {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
    // 左右分栏布局
    .horizon {
        border-top: 1px solid #eeefee;
        margin: auto;
        width: 1080px;
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >div {
            width: 50%;
            padding: 30px 40px ;
        }

        a {
            width: 100%;
        }
    }

    .project {
        cursor: default;
        user-select: none;
        text-align: center;

        .button {
            margin-top: 20px;
        }
    }

    .bottomBanner {
        display: flex;
        background-color: #f2f3f5;

        >div {
            padding: 60px;
            margin: auto;
        }
    }

    .footer {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            a {
                margin: 0 6px;
                width: auto;
            }
        }
        span {
            color: #999999;
        }

        .hr {
            margin-top: 0;
            background-color: #eeefee;
            width: 1px;
            height: 50px;
        }
    }
}