@import "../../config/anim";

.imageLayer {
    transition: transform @animationDurations @animationFunction;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    border-radius: 5px;
    will-change: transform, top;

    &.zooming {
        transition-timing-function: @animationFunctionOnZooming;
    }
}