@import "../../config/anim.less";

.backgroundLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: zoom-out;
    opacity: 0;
    background-color: white;
    transition: opacity .25s;
}